
<app-nav></app-nav>

<div class="card mb-3 bg-dark text-white" style="max-width: 540px;" *ngFor="let photo of this.posts">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="card-img-top" src="{{photo.img_src}}" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{photo.rover.name}}</h5>
                <p class="card-text">
                    <span><b>landing_date:</b> {{photo.rover.landing_date}}</span><br>
                    <span><b>launch_date:</b> {{photo.rover.launch_date}}</span><br>
                    <span><b>id:</b> {{photo.id}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
